<div>
    <p>р/р {{account}}</p>

    <p>МФО {{mfo}}</p>

    <p>код {{code}}</p>

    <p>Банк: {{bankName}}.</p>

    <p>Отримувач: {{receiver}}</p>

    <p>Призначення платежу:</p>
    {{#if itemsAmount}}
        <p>Книги: {{itemsAmount}}</p>
    {{else}}
        <ul>
            {{#each items}}
                <li>{{title}} x {{amount}}</li>
            {{/each}}
        </ul>
    {{/if}}

    <p>Сума {{totalPrice.grn}} грн. {{#if totalPrice.cop}}{{totalPrice.cop}} коп.{{/if}}</p>
</div>