<div>
    <p>р/р 31251209208829</p>

    <p>МФО 820172</p>

    <p>код 05408102</p>

    <p>Банк: ГУДКСУ в Тернопільській області.</p>

    <p>Отримувач: ТНТУ ім. І.Пулюя</p>

    <p>Призначення платежу:</p>
    {{#if itemsAmount}}
        <p>Книги: {{itemsAmount}}</p>
    {{else}}
        <ul>
            {{#each items}}
                <li>{{title}} x {{amount}}</li>
            {{/each}}
        </ul>
    {{/if}}

    <p>Сума {{totalPrice.grn}} грн. {{#if totalPrice.cop}}{{totalPrice.cop}} коп.{{/if}}</p>

    <p>Копію квитанції прикріпити до вашого замовлення.</p>
    <p>Це можна зробити на сторінці, на яку ви були направлені після створення замовлення.</p>
    <p>Також посилання на цю сторінку було відправлено на вашу електронну адресу</p>

    <p>E-mail: vydavnytstvo@mail.ru або vydavnytstvo@tu.edu.te.ua.</p>
</div>